.card-header-black{
     background-color: black;
}

th{
     font-weight: 700 !important;
     font-size: 100%;
}

td{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 100%;
}

.link-color {
     color: #097F94;
}


// /* change the colors */
// $primary: rgb(0, 0, 0);
// $danger: #dd0000;
// $success: lime;
// $warning: orange;
// $info: aqua;

// $body-bg: #f3f3f0;


// @import "bootstrap";


// body {
//     padding-top: 90px;
// }

// section {
//     min-height: 90vh;
// }