<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <!-- Sobre mi -->
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-header card-header-black">
                        <h4 class="card-title">Sobre mí</h4>
                    </div>

                    <div class="card-body">
                        <br>
                        <p>Al parecer Enrique Cadena Contreras aún no ha escrito nada.</p>
                        <br>
                    </div>
                </div>
            </div>

            <!-- Trayectoria -->
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-header card-header-black">
                        <h4 class="card-title">Trayectoria</h4>
                    </div>

                    <div class="card-body">
                        <div>
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">library_books</i>
                                    </div>
                                    <p class="card-category">Proyectos Activos</p>
                                    <h3 class="card-title">0</h3>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">person_search</i>
                                    </div>
                                    <p class="card-category">Total &nbsp; Prospectos</p>
                                    <h3 class="card-title">0</h3>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card card-stats">
                                <div class="card-header card-header-danger card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">local_activity</i>
                                    </div>
                                    <p class="card-category">Tickets Resueltos</p>
                                    <h3 class="card-title">0</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Info perfil -->
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img"
                                src="https://www.gravatar.com/avatar/230d3f7f5a74d512edd913552817d03e?s=230" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">Pasante</h6>
                        <h4 class="card-title">Enrique Cadena C</h4>
                        <p class="card-description">
                        <p>
                            <strong>Email</strong><br>
                            enrique.cadena@optimizacion-online.com
                        </p>
                        <p></p>
                        <p>
                            <strong>Fecha de ingreso</strong><br>
                            07 Enero 2022
                        </p>
                        <p>
                            <strong>Teléfono</strong><br>
                            1111111111
                        </p>

                        <p>
                            <strong>Usuario skype</strong><br>
                            1111111111
                        </p>

                        <p>
                            <strong>Fecha de nacimiento</strong><br>
                            16 Junio 2000
                        </p>

                        <p>
                            <strong>Pertenece al área de</strong><br>
                            Sistemas
                        </p>

                        <p>
                            <strong>Oficina</strong> <br>
                            Córdoba
                        </p>
                        <p>
                            <strong>Última sesión</strong><br>
                            08 Marzo 2022
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>