<div class="container contenedor-login">
    <form role="form" action="../dashboard/dashboard.component.html" class="formulario-login">
        <img src="../../assets/img/doo.png" class="logo-sigo">
        <p class="titulo-sigo">S.I.G.O</p>
        <div class="form-group">
            <input type="email" placeholder="Correo electrónico" class="campo-login">
        </div>

        <div style="display: flex; justify-content: space-between;">
            <button type="submit" class="btn boton-principal-login" style="margin-right: 30px;">Enviar</button>
            <a href="#" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>