<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Registro de palabras clave</h4>
            </div>
            <div class="card-body table-responsive">
                <form>
                    <div class="form-group">
                        <label>Palabra clave</label>
                        <textarea class="form-control" rows="1">Terenos</textarea>
                    </div>
                    <div class="form-group">
                        <label>Pagina</label>
                        <textarea class="form-control" rows="1">4</textarea>
                    </div>
                    <div class="form-group">
                        <label>Posicion</label>
                        <textarea class="form-control" rows="1">2</textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-4">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Informacion de SERPS</h4>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover" id="activos">
                    <thead class="">
                        <th>Palabra clave</th>
                        <th>Pagina</th>
                        <th>Posicion</th>
                        <th>Posicion general</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Venta de terrenos</td>
                            <td>2</td>
                            <td>8</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <td>Bienes raices</td>
                            <td>3</td>
                            <td>2</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>Renta de condominos</td>
                            <td>1</td>
                            <td>8</td>
                            <td>8</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>