<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <!--Notificaciones-->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">notifications</i>
                        <span class="notification">4</span>
                        <p>
                            <span class="d-lg-none d-md-block">Notificaciones</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="javascript:void(0)">Usuario ha finalizado el ticket</a>
                        <a class="dropdown-item" href="javascript:void(0)">Usuario tiene el proceso el ticket</a>
                        <a class="dropdown-item" href="javascript:void(0)">Usuario ha delegado el ticket</a>
                        <a class="dropdown-item" href="javascript:void(0)">Usuario ha finalizado el ticket</a>
                    </div>
                </li>
                <!--Tickets-->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ticket"></i>
                        <span class="notification">4</span>
                        <p>
                            <span class="d-lg-none d-md-block">Tickets</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="javascript:void(0)">Usuario te ha asignado un ticket</a>
                        <a class="dropdown-item" href="javascript:void(0)">Usuario te ha delegado un ticket</a>
                        <a class="dropdown-item" href="javascript:void(0)">Usuario te ha asignado un ticket</a>
                        <a class="dropdown-item" href="javascript:void(0)">Usuario te ha delegado un ticket</a>
                    </div>
                </li>
                <!--Configuraciones-->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">person</i>
                        <p>
                            <span class="d-lg-none d-md-block">Usuario</span>
                        </p>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
                            <a class="dropdown-item" [routerLink]="[menuItem.path]">
                                <i class="material-icons">{{menuItem.icon}}</i>
                                {{menuItem.title}}
                            </a>
                        </li>
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="material-icons">logout</i>
                            Salir
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>