<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-20 col-md-12">
                <div class="card">
                    <div class="card-headercard-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#operativa" data-toggle="tab">
                                            <i class="material-icons">construction</i> Área operativa
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#training" data-toggle="tab">
                                            <i class="material-icons">catching_pokemon</i> Training
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="operativa">

                                <div class="x_panel">
                                    <div class=".bg-success">
                                        <br>
                                        <h4><strong>Lineamientos de procesos por departamentos</strong></h4>
                                        <br>
                                    </div>
                                    <div class="x_content">
                                        <div class="row">

                                            <div class="col-md-3">
                                                <label class="lineamientos-label label label-success">Sistemas</label>
                                                <iframe width="100%" height="200"
                                                    src="https://www.youtube.com/embed/4oHFyJM5xas" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="lineamientos-label label label-success">Diseño</label>
                                                <iframe width="100%" height="200"
                                                    src="https://www.youtube.com/embed/LvB8uSX7kxY" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="lineamientos-label label label-success">Contenidos</label>
                                                <iframe width="100%" height="200"
                                                    src="https://www.youtube.com/embed/sVVX2rI15pY" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="lineamientos-label label label-success">Reportes</label>
                                                <iframe width="100%" height="200"
                                                    src="https://www.youtube.com/embed/-8I6MBqo7XU" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="lineamientos-label label label-success">Contratos</label>
                                                <iframe width="100%" height="200"
                                                    src="https://www.youtube.com/embed/spzElvEWs60" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="lineamientos-label label label-success">Email
                                                    Marketing</label>
                                                <iframe width="100%" height="200"
                                                    src="https://www.youtube.com/embed/XH-CH4chHoQ" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="lineamientos-label label label-success">Link
                                                    Building</label>
                                                <iframe width="100%" height="200"
                                                    src="https://www.youtube.com/embed/T6pKgfX8dr4" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="lineamientos-label label label-success">Facturas</label>
                                                <iframe width="100%" height="200"
                                                    src="https://www.youtube.com/embed/8jFSuL8dcNA" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="lineamientos-label label label-success">Sugerencia
                                                    keywords</label>
                                                <iframe width="100%" height="200"
                                                    src="https://www.youtube.com/embed/Nl6-lAkDSZY" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="lineamientos-label label label-success">Social
                                                    Media</label>
                                                <iframe width="100%" height="200"
                                                    src="https://www.youtube.com/embed/5FE7xfMZJVQ" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="lineamientos-label label label-success">Google ADS</label>
                                                <iframe width="100%" height="200"
                                                    src="https://www.youtube.com/embed/3BK_BzB59ZI" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="training">
                                <div class="x_panel">
                                    <div class=".bg-success">
                                        <br>
                                        <h4><strong>Lineamientos de procesos por departamentos</strong></h4>
                                        <br>
                                    </div>
                                    <div class="x_content">
                                        <div class="row">

                                            <div class="col-md-3">
                                                <label class="lineamientos-label label label-success">Training Link
                                                    Building</label>
                                                <iframe width="100%" height="200"
                                                    src="https://www.youtube.com/embed/1luTggWSy6M" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="lineamientos-label label label-success">Training Email
                                                    Marketing</label>
                                                <iframe width="100%" height="200"
                                                    src="https://www.youtube.com/embed/22Fzr_C0dQQ" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="lineamientos-label label label-success">Training
                                                    Seguimiento
                                                    Preventa</label>
                                                <iframe width="100%" height="200"
                                                    src="https://www.youtube.com/embed/LB6nrgRqvxQ" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="lineamientos-label label label-success">Training Estudio
                                                    Palabras
                                                    Clave</label>
                                                <iframe width="100%" height="200"
                                                    src="https://www.youtube.com/embed/QJFiwScB1a4" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="lineamientos-label label label-success">Training Cold
                                                    Calling</label>
                                                <iframe width="100%" height="200"
                                                    src="https://www.youtube.com/embed/DPqgQLxvrQQ" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>
</div>

<app-login></app-login>