<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-20 col-md-12">
                <div class="card">
                    <div class="card-headercard-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#mios" data-toggle="tab">
                                            <i class="material-icons">people</i> Mis tareas
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#todos" data-toggle="tab">
                                            <i class="material-icons">groups</i> Tareas que asigne
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



