<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-headercard-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#mios" data-toggle="tab">
                                            <i class="material-icons">people</i> Mis clientes 
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#todos" data-toggle="tab">
                                            <i class="material-icons">groups</i> Todos los clientes
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="tab-pane" id="todos">
                                <div class="card-header card-header-danger">
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a mat-button class="nav-link active" href="#activos" data-toggle="tab">
                                                <i class="material-icons">person</i> Activos
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a mat-button class="nav-link" href="#inactivos" data-toggle="tab">
                                                <i class="material-icons">person_off</i> Inactivos
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="activos">
                                    <!-- Empleados activos-->
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Dominio</th>
                                                <th scope="col">Ultimo contenido</th>
                                                <th scope="col">Ultimo pago</th>
                                                <th scope="col">Region</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let cliente of clientes">
                                                <td scope="row">{{ cliente.Num }}</td>
                                                <td>{{ cliente.Dominio }}</td>
                                                <td>{{ cliente.UltimoContenido }}</td>
                                                <td>{{ cliente.UltimoPago }}</td>
                                                <td>{{ cliente.Region }}</td>
                                                <td><i class="fa fa-pencil"></i></td>
                                                <td><i class="fa fa-power-off"></i></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="d-flex justify-content-between p-2">
                                            <ngb-pagination [collectionSize]="collectionSize1" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshClientes()">
                                            </ngb-pagination>
                                            <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshClientes()">
                                                <option [ngValue]="10">Ver 10 filas</option>
                                                <option [ngValue]="15">Ver 15 filas</option>
                                                <option [ngValue]="20">Ver 20 filas</option>
                                            </select>
                                        </div>
                                    </div>                   
                                </div>

                                <div class="tab-pane" id="inactivos">
                                    <!-- Empleados Inactivos -->
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Dominio</th>
                                                <th scope="col">Ultimo contenido</th>
                                                <th scope="col">Ultimo pago</th>
                                                <th scope="col">Region</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let nocliente of noclientes">
                                                <td scope="row">{{ nocliente.Num }}</td>
                                                <td>{{ nocliente.Dominio }}</td>
                                                <td>{{ nocliente.UltimoContenido }}</td>
                                                <td>{{ nocliente.UltimoPago }}</td>
                                                <td>{{ nocliente.Region }}</td>
                                                <td><i class="fa fa-trash"></i></td>
                                                <td><i class="fa fa-power-off"></i></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="d-flex justify-content-between p-2">
                                            <ngb-pagination [collectionSize]="collectionSize2" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshNoClientes()">
                                            </ngb-pagination>
                                            <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshNoClientes()">
                                                <option [ngValue]="10">Ver 10 filas</option>
                                                <option [ngValue]="15">Ver 15 filas</option>
                                                <option [ngValue]="20">Ver 20 filas</option>
                                            </select>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>   
                    </div>                    
                </div>
            </div>    
        </div>
    </div>
</div>