<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S.I.G.O | Login</title>
</head>
<body>
    <div class="container contenedor-login">
        <form role="form" action="../dashboard/dashboard.component.html" class="formulario-login">
            <img src="../../assets/img/doo.png" class="logo-sigo">
            <p class="titulo-sigo">S.I.G.O</p>
            <div class="form-group">
                <input type="email" placeholder="Correo electrónico" class="campo-login">
            </div>
    
            <div class="form-group">
                <input type="password" placeholder="Password" class="campo-login">
            </div>
            <button type="submit" routerLink="/dashboard" class="btn boton-principal-login">Enviar</button>
            <a routerLink="/get-password" style="width: 100%; text-align: center; color: #2AB0DA;">¿Olvidaste tu contraseña?</a>
        </form>
    </div>
</body>
</html>