.contenedor-login {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#000,#222,#444,#777);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-login {
    width: 85%;
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.campo-login {
    font-size: 16px;
    width: 90%;
    min-width: 350px;
    border: none;
    border-radius: 12px;
    padding: 10px;
}

.logo-sigo {
    width: 100%;
    height: auto;
    max-width: 200px;
}

.boton-principal-login {
    background: #D71E12;
}

.titulo-sigo {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 32px;
    margin: 15px 0;
}

@media screen and (max-width: 400px){
    .logo-sigo {
        max-width: 260px;
    }
}

@media screen and (max-width:350px){
    .campo-login {
        min-width: 260px;
    }
}