<div class="row">
    <div class="card">
        <div class="card-header card-header-success">
            <h4 class="card-title">Informacion de los integrantes</h4>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover" id="activos">
                <thead class="">
                    <th>Nombre</th>
                    <th>Departamento</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Skype</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Nombre del encargado</td>
                        <td>Sistemas</td>
                        <td>1234567890</td>
                        <td>encargado@optimizacion.com</td>
                        <td>Usuario Skype</td>
                        <td><i class="fa fa-trash"></i></td>
                    </tr>
                    <tr>
                        <td>Nombre del encargado</td>
                        <td>Sistemas</td>
                        <td>1234567890</td>
                        <td>encargado@optimizacion.com</td>
                        <td>Usuario Skype</td>
                        <td><i class="fa fa-trash"></i></td>
                    </tr>
                    <tr>
                        <td>Nombre del encargado</td>
                        <td>Sistemas</td>
                        <td>1234567890</td>
                        <td>encargado@optimizacion.com</td>
                        <td>Usuario Skype</td>
                        <td><i class="fa fa-trash"></i></td>
                    </tr>
                    <tr>
                        <td>Nombre del encargado</td>
                        <td>Sistemas</td>
                        <td>1234567890</td>
                        <td>encargado@optimizacion.com</td>
                        <td>Usuario Skype</td>
                        <td><i class="fa fa-trash"></i></td>
                    </tr>
                    <tr>
                        <td>Nombre del encargado</td>
                        <td>Sistemas</td>
                        <td>1234567890</td>
                        <td>encargado@optimizacion.com</td>
                        <td>Usuario Skype</td>
                        <td><i class="fa fa-trash"></i></td>
                    </tr>
                    <tr>
                        <td>Nombre del encargado</td>
                        <td>Sistemas</td>
                        <td>1234567890</td>
                        <td>encargado@optimizacion.com</td>
                        <td>Usuario Skype</td>
                        <td><i class="fa fa-trash"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>