<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-headercard-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#datos" data-toggle="tab">
                                            <i class="material-icons">people</i> Datos
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#contenidos" data-toggle="tab">
                                            <i class="material-icons">people</i> Contenidos
                                            <div class="ripple-container"></div>
                                        </a> 
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#pagos" data-toggle="tab">
                                            <i class="material-icons">people</i> Pagos
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#integrantes" data-toggle="tab">
                                            <i class="material-icons">people</i> Integrantes
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#links" data-toggle="tab">
                                            <i class="material-icons">people</i> Info. Links
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#accesos" data-toggle="tab">
                                            <i class="material-icons">people</i> Accesos
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#SERPS" data-toggle="tab">
                                            <i class="material-icons">people</i> SERPS
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="datos">
                                <app-datos-cliente></app-datos-cliente>
                            </div>
                            <div class="tab-pane" id="contenidos">
                                <app-contenidos-cliente></app-contenidos-cliente>
                            </div>
                            <div class="tab-pane active" id="pagos">
                                <app-pagos-cliente></app-pagos-cliente>
                            </div>
                            <div class="tab-pane" id="integrantes">
                                <app-integrantes-cliente></app-integrantes-cliente>
                            </div>
                            <div class="tab-pane" id="links">
                                <app-links-cliente></app-links-cliente>
                            </div>
                            <div class="tab-pane" id="accesos">
                                <app-accesos-cliente></app-accesos-cliente>
                            </div>
                            <div class="tab-pane" id="SERPS">
                                <app-serps-cliente></app-serps-cliente>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
