<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-headercard-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#datos" data-toggle="tab">
                                            <i class="material-icons">people</i> Datos
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#integrantes" data-toggle="tab">
                                            <i class="material-icons">people</i> Integrantes
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#directorio" data-toggle="tab">
                                            <i class="material-icons">people</i> Directorios
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#accesos" data-toggle="tab">
                                            <i class="material-icons">people</i> Accesos
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" data-toggle="tab">
                                            <i class="material-icons">people</i> SERPS
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="datos">
                                <div class="row">
                                    <div class="col-lg-4 col-md-12">
                                        <div class="card">
                                            <div class="card-header card-header-warning">
                                                <h4 class="card-title">Datos del cliente</h4>
                                            </div>
                                            <div class="card-body table-responsive">
                                                <table class="table table-hover">
                                                    <tr><th>Nombre</th>
                                                        <td>Nombre del cliente</td></tr>
                                                    <tr><th>Dominio</th>
                                                        <td>www.dominioclinete.com</td></tr>
                                                    <tr><th>Fecha dominio</th>
                                                        <td>dd-mm-aaaa</td></tr>
                                                    <tr><th>Empresa</th>
                                                        <td>Nombre de la empresa</td></tr>
                                                    <tr><th>Email</th>
                                                        <td>cliente@empresa.com</td></tr>
                                                    <tr><th>Telefono fijo</th>
                                                        <td>1234567890</td></tr>
                                                    <tr><th>Telefono movil</th>
                                                        <td>0123456789</td></tr>
                                                    <tr><th>Fecha ingreso</th>
                                                        <td>dd-mm-aaaa</td></tr>
                                                    <tr><th>Skype</th>
                                                        <td>Nombre de cliente</td></tr>
                                                    <tr><th>Membresia</th>
                                                        <td>Plata</td></tr>
                                                    <tr><th>Estatus</th>
                                                        <td>Activo</td></tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <div class="card">
                                            <div class="card-header card-header-success">
                                                <h4 class="card-title">Servicios de SEO</h4>
                                            </div>
                                            <div class="card-body table-responsive">
                                                <table class="table table-hover">
                                                    <tr><th>SEO</th>
                                                        <td>N/A</td></tr>
                                                    <tr><th>Rediseño</th>
                                                        <td>N/A</td></tr>
                                                    <tr><th>Branding</th>
                                                        <td>N/A</td></tr>
                                                    <tr><th>Contenidos</th>
                                                        <td>N/A</td></tr>
                                                    <tr><th>Social Media</th>
                                                        <td>N/A</td></tr>
                                                    <tr><th>Email marketing</th>
                                                        <td>N/A</td></tr>
                                                    <tr><th>Hosting</th>
                                                        <td>N/A</td></tr>
                                                    <tr><th>Dominio</th>
                                                        <td>N/A</td></tr>
                                                    <tr><th>Link building</th>
                                                        <td>N/A</td></tr>
                                                    <tr><th>Adwords</th>
                                                        <td>N/A</td></tr>
                                                </table>
                                                <a type="button" class="btn btn-success">Actualizar servicios</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <div class="card">
                                            <div class="card-header card-header-danger">
                                                <h4 class="card-title">Responsable del contenido</h4>
                                            </div>
                                            <div class="card-body table-responsive">
                                                <table class="table table-hover">
                                                    <tr><th>Nombre del responsable</th>
                                                        <td>Nombre responsable</td></tr>
                                                    <tr><th>Persona de contacto</th>
                                                        <td>Contacto persona</td></tr>
                                                    <tr><th>Email personal</th>
                                                        <td>persona@gmail.com</td></tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="integrantes">
                                <div class="row">
                                    <div class="card">
                                        <div class="card-header card-header-success">
                                            <h4 class="card-title">Informacion de los integrantes</h4>
                                        </div>
                                        <div class="card-body table-responsive">
                                            <table class="table table-hover" id="activos">
                                                <thead class="">
                                                    <th>
                                                        Nombre
                                                    </th>
                                                    <th>
                                                        Departamento
                                                    </th>
                                                    <th>
                                                        Telefono
                                                    </th>
                                                    <th>
                                                        Email
                                                    </th>
                                                    <th>
                                                        Skype
                                                    </th>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            Nombre del encargado
                                                        </td>
                                                        <td>
                                                            Sistemas
                                                        </td>
                                                        <td>
                                                            1234567890
                                                        </td>
                                                        <td>
                                                            encargado@optimizacion.com
                                                        </td>
                                                        <td>
                                                            Usuario Skype
                                                        </td>
                                                        <td>
                                                            <i class="fa fa-trash"></i> 
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Nombre del encargado
                                                        </td>
                                                        <td>
                                                            Sistemas
                                                        </td>
                                                        <td>
                                                            1234567890
                                                        </td>
                                                        <td>
                                                            encargado@optimizacion.com
                                                        </td>
                                                        <td>
                                                            Usuario Skype
                                                        </td>
                                                        <td>
                                                            <i class="fa fa-trash"></i> 
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Nombre del encargado
                                                        </td>
                                                        <td>
                                                            Sistemas
                                                        </td>
                                                        <td>
                                                            1234567890
                                                        </td>
                                                        <td>
                                                            encargado@optimizacion.com
                                                        </td>
                                                        <td>
                                                            Usuario Skype
                                                        </td>
                                                        <td>
                                                            <i class="fa fa-trash"></i> 
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Nombre del encargado
                                                        </td>
                                                        <td>
                                                            Sistemas
                                                        </td>
                                                        <td>
                                                            1234567890
                                                        </td>
                                                        <td>
                                                            encargado@optimizacion.com
                                                        </td>
                                                        <td>
                                                            Usuario Skype
                                                        </td>
                                                        <td>
                                                            <i class="fa fa-trash"></i> 
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Nombre del encargado
                                                        </td>
                                                        <td>
                                                            Sistemas
                                                        </td>
                                                        <td>
                                                            1234567890
                                                        </td>
                                                        <td>
                                                            encargado@optimizacion.com
                                                        </td>
                                                        <td>
                                                            Usuario Skype
                                                        </td>
                                                        <td>
                                                            <i class="fa fa-trash"></i> 
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Nombre del encargado
                                                        </td>
                                                        <td>
                                                            Sistemas
                                                        </td>
                                                        <td>
                                                            1234567890
                                                        </td>
                                                        <td>
                                                            encargado@optimizacion.com
                                                        </td>
                                                        <td>
                                                            Usuario Skype
                                                        </td>
                                                        <td>
                                                            <i class="fa fa-trash"></i> 
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="directorio">
                                <div class="row">
                                    <div class="col-lg-6 col-md-10">
                                        <div class="card">
                                            <div class="card-header card-header-warning">
                                                <h4 class="card-title">Informacion para directorios</h4>
                                            </div>
                                            <div class="card-body table-responsive">
                                                <form>
                                                    <div class="form-group">
                                                        <label>Nombre del contacto</label>
                                                        <textarea class="form-control" rows="1"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Telefono</label>
                                                        <textarea class="form-control" rows="1"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Dirección</label>
                                                        <textarea class="form-control" rows="2"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Descuentos</label>
                                                        <textarea class="form-control" rows="1"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Descripcion corta (minimo 150 palabras)</label>
                                                        <textarea class="form-control" rows="3"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Descripcion larga (minimo 250 palabras)</label>
                                                        <textarea class="form-control" rows="3"></textarea>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-10">
                                        <div class="card">
                                            <div class="card-header card-header-danger">
                                                <h4 class="card-title">Datos varios</h4>
                                            </div>
                                            <div class="card-body table-responsive">
                                                <form>
                                                    <div class="form-group">
                                                        <label>Productos y/o servicios</label>
                                                        <textarea class="form-control" rows="3"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Slogan</label>
                                                        <textarea class="form-control" rows="1"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Mision</label>
                                                        <textarea class="form-control" rows="2"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Vision</label>
                                                        <textarea class="form-control" rows="2"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Objetivos</label>
                                                        <textarea class="form-control" rows="3"></textarea>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="accesos">
                                <div class="row">
                                    <div class="card">
                                        <div class="card-header card-header-success">
                                            <h4 class="card-title">Datos de accesos</h4>
                                        </div>
                                        <div class="card-body table-responsive">
                                            <table class="table table-hover" id="activos">
                                                <thead class="">
                                                    <th>Tipo</th>
                                                    <th>URL acceso</th>
                                                    <th>Usuario</th>
                                                    <th>Pasword</th>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>CPanel</td>
                                                        <td>https://promesasdevida.com.mx:2083</td>
                                                        <td>promesas</td>
                                                        <td>n1f3Hi3uY5¡;!|</td>
                                                        <td><i class="fa fa-pencil"></i></td>
                                                        <td><i class="fa fa-trash"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Correo de marketing</td>
                                                        <td>http://webmail.promesasdevida.com.mx/</td>
                                                        <td>marketing@promesasdevida.com.mx</td>
                                                        <td>Mkt2018#$</td>
                                                        <td><i class="fa fa-pencil"></i></td>
                                                        <td><i class="fa fa-trash"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Blog</td>
                                                        <td>http://promesasdevida.com.mx/blog/wp-admin/</td>
                                                        <td>promesas</td>
                                                        <td>3QFNHk2Y7ZJifn)tiD</td>
                                                        <td><i class="fa fa-pencil"></i></td>
                                                        <td><i class="fa fa-trash"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Mailchimp</td>
                                                        <td>https://login.mailchimp.com/?logout=1</td>
                                                        <td>Promesasdevida</td>
                                                        <td>Mkt2018#$</td>
                                                        <td><i class="fa fa-pencil"></i></td>
                                                        <td><i class="fa fa-trash"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Gmail</td>
                                                        <td>google.com</td>
                                                        <td>promesasdevida2019@gmail.com</td>
                                                        <td>Mkt2019##</td>
                                                        <td><i class="fa fa-pencil"></i></td>
                                                        <td><i class="fa fa-trash"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Chat online</td>
                                                        <td>https://dashboard.tawk.to/login</td>
                                                        <td>marketing@promesasdevida.com.mx</td>
                                                        <td>Mkt2018#$</td>
                                                        <td><i class="fa fa-pencil"></i></td>
                                                        <td><i class="fa fa-trash"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
