<div class="main-content">
    <div class="container-fluid">
        <div style="display: flex; justify-content: flex-end; margin-right: 15px;">
            <button class="btn btn-danger">
                Nuevo prospécto
                <i class="fa fa-plus" aria-hidden="true" style="margin-left:15px"></i>
            </button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!-- <div class="card-headercard-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" data-toggle="tab">
                                            <i class="material-icons">people</i> Prospectos
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div> 
                    </div>-->
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="card-header card-header-primary">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#activos" data-toggle="tab">
                                            <i class="material-icons">people_outline</i> Prospectos
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#inactivos" data-toggle="tab">
                                            <i class="material-icons">highlight_off</i> No contactar
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="activos">
                                    <!-- Empleados activos-->
                                    <div class="table-responsive">
                                        <table class="table table-hover" id="activos">
                                            <thead class="">
                                                <th>
                                                    #
                                                </th>
                                                <th>
                                                    Empresa
                                                </th>
                                                <th>
                                                    Dominio
                                                </th>
                                                <th>
                                                    Contacto
                                                </th>
                                                <th>
                                                    Consultor
                                                </th>
                                                <th>
                                                    Fuente
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let prospecto of prospectos">
                                                    <td scope="row">{{ prospecto.Num }}</td>
                                                    <td>{{ prospecto.Empresa }}</td>
                                                    <td>{{ prospecto.Dominio }}</td>
                                                    <td>{{ prospecto.Contacto }}</td>
                                                    <td>{{ prospecto.Consultor }}</td>
                                                    <td>{{ prospecto.Fuente }}</td>
                                                    <td><i class="fa fa-pencil"></i></td>
                                                    <td><i class="fa fa-plus" aria-hidden="true"></i></td>
                                                    <td><i class="fa fa-power-off"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="d-flex justify-content-between p-2">
                                            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshProspectos()">
                                            </ngb-pagination>
                                            <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshProspectos()">
                                                <option [ngValue]="5">5 filas</option>
                                                <option [ngValue]="10">10 filas</option>
                                                <option [ngValue]="15">15 filas</option>
                                            </select>
                                        </div>
                                    </div>                   
                                </div>
                                <div class="tab-pane" id="inactivos">
                                    <!-- Empleados Inactivos -->
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="">
                                                <th>
                                                    #
                                                </th>
                                                <th>
                                                    Empresa
                                                </th>
                                                <th>
                                                    Dominio
                                                </th>
                                                <th>
                                                    Contacto
                                                </th>
                                                <th>
                                                    Consultor
                                                </th>
                                                <th>
                                                    Fuente
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let np of noProspectos">
                                                    <td scope="row">{{ np.Num }}</td>
                                                    <td>{{ np.Empresa }}</td>
                                                    <td>{{ np.Dominio }}</td>
                                                    <td>{{ np.Contacto }}</td>
                                                    <td>{{ np.Consultor }}</td>
                                                    <td>{{ np.Fuente }}</td>
                                                    <td><i class="fa fa-trash"></i></td>
                                                    <td><i class="fa fa-plus" aria-hidden="true"></i></td>
                                                    <td><i class="fa fa-power-off"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="d-flex justify-content-between p-2">
                                            <ngb-pagination [collectionSize]="collectionSize2" [(page)]="page2" [pageSize]="pageSize2" (pageChange)="refreshNoProspectos()">
                                            </ngb-pagination>
                                            <select class="form-select" style="width: auto" [(ngModel)]="pageSize2" (ngModelChange)="refreshNoProspectos()">
                                                <option [ngValue]="5">5 filas</option>
                                                <option [ngValue]="10">10 filas</option>
                                                <option [ngValue]="15">15 filas</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>