<div class="row">
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Datos del cliente</h4>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <tr><th>Nombre</th>
                        <td>Lissete Campos Yañez</td></tr>
                    <tr><th>Dominio</th>
                        <td>biera.com.mx/</td></tr>
                    <tr><th>Fecha dominio</th>
                        <td>2011-02-08</td></tr>
                    <tr><th>Empresa</th>
                        <td>Biera</td></tr>
                    <tr><th>Email</th>
                        <td>contacto@biera.com.mx</td></tr>
                    <tr><th>Telefono fijo</th>
                        <td>4491784180</td></tr>
                    <tr><th>Telefono movil</th>
                        <td>4492019938</td></tr>
                    <tr><th>Fecha ingreso</th>
                        <td>2021-08-31</td></tr>
                    <tr><th>Skype</th>
                        <td>No tiene</td></tr>
                    <tr><th>Membresia</th>
                        <td>Plata</td></tr>
                    <tr><th>Estatus</th>
                        <td>Activo</td></tr>
                </table>
                <a type="button" class="btn btn-warning">Editar</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Servicios de SEO</h4>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <tr><th>SEO</th>
                        <td>N/A</td></tr>
                    <tr><th>Rediseño</th>
                        <td>N/A</td></tr>
                    <tr><th>Branding</th>
                        <td>N/A</td></tr>
                    <tr><th>Contenidos</th>
                        <td>N/A</td></tr>
                    <tr><th>Social Media</th>
                        <td>N/A</td></tr>
                    <tr><th>Email marketing</th>
                        <td>N/A</td></tr>
                    <tr><th>Hosting</th>
                        <td>N/A</td></tr>
                    <tr><th>Dominio</th>
                        <td>N/A</td></tr>
                    <tr><th>Link building</th>
                        <td>N/A</td></tr>
                    <tr><th>Adwords</th>
                        <td>N/A</td></tr>
                </table>
                <a type="button" class="btn btn-success">Actualizar servicios</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Responsable del contenido</h4>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <tr><th>Nombre del responsable</th>
                        <td>Nombre responsable</td></tr>
                    <tr><th>Persona de contacto</th>
                        <td>Contacto persona</td></tr>
                    <tr><th>Email personal</th>
                        <td>persona@gmail.com</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>