<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-header card-header-black">
                        <h4 class="card-title">Sobre mí</h4>
                    </div>

                    <div class="card-body">
                        <br>
                        <p>Al parecer Enrique Cadena Contreras aún no ha escrito nada.</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>