<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <!-- Cambiar contraseña -->
                <div>
                    <div class="card">
                        <div class="card-header card-header-black">
                            <h4 class="card-title">Cambiar contraseña</h4>
                        </div>

                        <div class="card-body">
                            <br>
                            <p>Al parecer Enrique Cadena Contreras aún no ha escrito nada.</p>
                            <br>
                        </div>
                    </div>
                </div>

                <!-- Sobre mi -->
                <div>
                    <div class="card">
                        <div class="card-header card-header-black">
                            <h4 class="card-title">Sobre mí</h4>
                        </div>

                        <div class="card-body">
                            <br>
                            <p>Al parecer Enrique Cadena Contreras aún no ha escrito nada.</p>
                            <br>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-7 col-xs-12">
                <!-- Firma de correo -->
                <div>
                    <div class="card">
                        <div class="card-header card-header-black">
                            <h4 class="card-title">Firma de correo</h4>
                        </div>

                        <div class="card-body">
                            <table style="width: 450px;">
                                <tr>
                                    <td style="text-align:center;border-right: 2px solid #db7913; padding-right:8px;">
										<img style="border-radius:50%;" src="https://www.gravatar.com/avatar/230d3f7f5a74d512edd913552817d03e?s=130" >
									</td>
                                    <td style="padding-left:8px;">
                                        <strong style="font-size: 16px;">Enrique Cadena Contreras</strong><br>
                                        <span
                                            style="font-size: 13px; font-weight: 700; color:#2c4a69;">Sistemas</span><br>
                                        <a href="mailto:enrique.cadena@optimizacion-online.com"
                                            style="font-size:13px">enrique.cadena@optimizacion-online.com</a><br>
                                        <a href="mailto:1111111111" style="font-size:13px">1111111111</a>
                                        <a href="https://www.optimizacion-online.com"
                                            style="font-size: 13	px;">https://www.optimizacion-online.com</a><br>
                                        <span
                                            style="line-height: 16px; font-size: 12px; font-weight: 700; color:#2c4a69;">Tel:
                                            1111111111</span><br>
                                        <span
                                            style="line-height: 16px; font-size: 12px; font-weight: 700; color:#2c4a69;">Skype:
                                            1111111111</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="https://www.optimizacion-online.com/firmas/firma-2017.jpg"
                                            style="width:510px;" alt="Oficinas Optimización Online">
                                    </td>
                                </tr>
                                <tr>
                                    <br>
                                    <p style="text-align:justify; font-size: 12px;">
                                        <strong>Aviso de Privacidad:</strong> De acuerdo con la Ley Federal de
                                        Protección de
                                        Datos
                                        Personales en Posesión de los Particulares, en los artículos 3, Fracciones II y
                                        VII,
                                        y 33,
                                        así como la denominación del capítulo II, del Título Segundo, de la Ley Federal
                                        de
                                        Transparencia y Acceso a la Información Pública Gubernamental, Diseño y
                                        Optimización
                                        Online
                                        S. A. de C. V. le informa que toda su información personal en nuestras bases de
                                        datos no
                                        está a la venta ni disponible para su comercialización con terceros. Si desea
                                        dejar
                                        de
                                        recibir estos emails por favor mandar correo a: <a
                                            href="mailto:soporte@optimizacion-online.com">soporte@optimizacion-online.com</a>
                                    </p>

                                    <p style="text-align:justify; font-size: 12px;">
                                        IMPORTANTE: Si esta información no es para usted, por favor responda a este
                                        correo
                                        electrónico con la palabra REMOVE en el asunto para ser eliminado de la
                                        newsletter y
                                        tenga a
                                        bien disculparnos por las molestias ocasionadas. Este mensaje cumple con el
                                        CAN-SPAM
                                        ACT y
                                        ofrece una forma directa y válida de remoción.
                                    </p>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>