<div class="logo">
    <a href="#" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/dooIcon.png"/>
        </div>
        <div class="t1">&nbsp; S.I.G.O. </div>
    </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav nav-mobile-menu">
        <!--Notificaciones-->
        <li class="nav-item dropdown">
            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">notifications</i>
                <span class="notification">4</span>
                <p>
                    <span class="d-lg-none d-md-block">Notificaciones</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Usuario ha finalizado el ticket</a>
                <a class="dropdown-item" href="#">Usuario tiene el proceso el ticket</a>
                <a class="dropdown-item" href="#">Usuario ha delegado el ticket</a>
                <a class="dropdown-item" href="#">Usuario ha finalizado el ticket</a>
            </div>
        </li>
        <!--Tickets-->
        <li class="nav-item dropdown">
            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ticket"></i>
                <span class="notification">4</span>
                <p>
                    <span class="d-lg-none d-md-block">Tickets</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Usuario te ha asignado un ticket</a>
                <a class="dropdown-item" href="#">Usuario te ha delegado un ticket</a>
                <a class="dropdown-item" href="#">Usuario te ha asignado un ticket</a>
                <a class="dropdown-item" href="#">Usuario te ha delegado un ticket</a>
            </div>
        </li>
        <!--Configuraciones-->
        <li class="nav-item dropdown">
            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">person</i>
                <p>
                    <span class="d-lg-none d-md-block">Usuario</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Perfil</a>
                <a class="dropdown-item" href="#">Configuracion</a>
                <a class="dropdown-item" href="#">Salir</a>
            </div>
        </li>
    </ul>
  </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>