<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">library_books</i>
                      </div>
                      <p class="card-category">Proyectos Activos</p>
                      <h3 class="card-title">0
                          
                      </h3>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">person_search</i>
                      </div>
                      <p class="card-category">Total &nbsp; Prospectos</p>
                      <h3 class="card-title">0</h3>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">local_activity</i>
                      </div>
                      <p class="card-category">Tickets Asignados</p>
                      <h3 class="card-title">0</h3>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">confirmation_number</i>
                      </div>
                      <p class="card-category">Tickets Generados</p>
                      <h3 class="card-title">+245</h3>
                  </div>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Clientes recientes</h4>
                    <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>ID</th>
                            <th>Dominio</th>
                            <th>Fecha</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>www.dominiocliente.com</td>
                                <td>05/02/22</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>www.dominiocliente.com</td>
                                <td>10/02/22</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>www.dominiocliente.com</td>
                                <td>18/02/22</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>www.dominiocliente.com</td>
                                <td>28/02/22</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title">Cumpleaños proximos</h4>
                      <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>ID</th>  
                              <th>Imagen</th>  
                              <th>Nombre</th>
                              <th>Fecha</th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td><i class="material-icons">portrait</i></td>  
                                  <td>Empleado cumpleañero</td>
                                  <td>03/03/2022</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td><i class="material-icons">portrait</i></td>  
                                <td>Empleado cumpleañero</td>
                                <td>10/03/2022</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td><i class="material-icons">portrait</i></td>  
                                <td>Empleado cumpleañero</td>
                                <td>22/03/2022</td>
                              </tr>
                              <tr>
                                   <td>4</td>
                                   <td><i class="material-icons">portrait</i></td>  
                                   <td>Empleado cumpleañero</td>
                                   <td>02/04/2022</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Empleados recientes</h4>
                    <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Fecha</th>
                            <th>Departamento</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Nombre Empleado</td>
                                <td>15/02/2022</td>
                                <td>Consultoria</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Nombre Empleado</td>
                                <td>28/02/2022</td>
                                <td>Diseño</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Nombre Empleado</td>
                                <td>01/03/2022</td>
                                <td>Sistemas</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Nombre Empleado</td>
                                <td>02/03/2022</td>
                                <td>Social Media</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Aniversarios proximos</h4>
                    <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>ID</th>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Fecha</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><i class="material-icons">portrait</i></td>  
                                <td>Empleado aniversario</td>
                                <td>03/03/2022</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td><i class="material-icons">portrait</i></td>  
                              <td>Empleado aniversario</td>
                              <td>10/03/2022</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td><i class="material-icons">portrait</i></td>  
                              <td>Empleado aniversario</td>
                              <td>22/03/2022</td>
                            </tr>
                            <tr>
                                 <td>4</td>
                                 <td><i class="material-icons">portrait</i></td>  
                                 <td>Empleado aniversario</td>
                                 <td>02/04/2022</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
