
.BAJA, .activo {
    background-color: green;
}

.MEDIA {
    background-color: #ecb40b;
}

.estado-1, .ep-1 {
    background-color: #ecb40b;
}

.estado-2, .ep-2 {
    background-color: #F44336;
}

.estado-3 {
    background-color: green;
}

.prioridad, .estado {
    font-size: 10px;
    border: 1px solid;
    padding: 4px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}