<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-20 col-md-12">
                <div style="display: flex; justify-content: flex-end; margin-right: 15px;">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ticketmodal">
                        Nuevo Ticket
                        <i class="fa fa-plus" aria-hidden="true" style="margin-left:15px;"></i>
                    </button>
                </div>
                <div class="card">
                    <div class="card-headercard-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#mis" data-toggle="tab">
                                            <i class="material-icons">local_activity</i> Mis tickets
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#asignados" data-toggle="tab">
                                            <i class="material-icons">confirmation_number</i> Tickets que asigne
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#tarea" data-toggle="tab">
                                            <i class="material-icons">add_task</i> Mis tareas
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="mis">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="">
                                                <th>
                                                    #id
                                                </th>
                                                <th>
                                                    Asunto
                                                </th>
                                                <th>
                                                    Dominio
                                                </th>
                                                <th>
                                                    Emisor
                                                </th>
                                                <th>
                                                    Fecha
                                                </th>
                                                <th>
                                                    Hora
                                                </th>
                                                <th>
                                                    Prioridad
                                                </th>
                                                <th>
                                                    Estado
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        25698
                                                    </td>
                                                    <td>
                                                        Pruebaas
                                                    </td>
                                                    <td>
                                                        wwww.prueba.com
                                                    </td>
                                                    <td>
                                                        Diana Laura Paez
                                                    </td>
                                                    <td>
                                                        10/08/2020
                                                    </td>
                                                    <td>
                                                        11:24:34
                                                    </td>
                                                    <td class="text-center">
                                                        <small class="label MEDIA">MEDIA</small>
                                                    </td>
                                                    <td class="text-center">
                                                        <small class="label estado-2">EN PROCESO</small>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        27855
                                                    </td>
                                                    <td>
                                                        Hola prueba
                                                    </td>
                                                    <td>
                                                        wwww.prueba.com
                                                    </td>
                                                    <td>
                                                        Diana Laura Paez
                                                    </td>
                                                    <td>
                                                        10/08/2020
                                                    </td>
                                                    <td>
                                                        11:24:34
                                                    </td>
                                                    <td class="text-center">
                                                        <small class="label MEDIA">MEDIA</small>
                                                    </td>
                                                    <td class="text-center">
                                                        <small class="label estado-2">EN PROCESO</small>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="asignados">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="">
                                                <th>
                                                    #id
                                                </th>
                                                <th>
                                                    Asunto
                                                </th>
                                                <th>
                                                    Proyecto
                                                </th>
                                                <th>
                                                    Fecha creación
                                                </th>
                                                <th>
                                                    Departamento
                                                </th>
                                                <th>
                                                    Prioridad
                                                </th>
                                                <th>
                                                    Estado
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        27709
                                                    </td>
                                                    <td>
                                                        Prueba historial
                                                    </td>
                                                    <td>
                                                        prueba.com
                                                    </td>
                                                    <td>
                                                        2022-03-14 11:38:59
                                                    </td>
                                                    <td>
                                                        Sistemas
                                                    </td>
                                                    <td class="text-center">
                                                        <small class="prioridad BAJA"> BAJA </small>
                                                    </td>
                                                    <td class="text-center">
                                                        <small class="estado estado-1"> PENDIENTE </small>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        27244
                                                    </td>
                                                    <td>
                                                        Cambios de prioridad - Prueba
                                                    </td>
                                                    <td>
                                                        prueba
                                                    </td>
                                                    <td>
                                                        2022-02-14 08:47:39
                                                    </td>
                                                    <td>
                                                        Sistemas
                                                    </td>
                                                    <td class="text-center">
                                                        <small class="prioridad BAJA"> BAJA </small>
                                                    </td>
                                                    <td class="text-center">
                                                        <small class="estado estado-3"> FINALIZADO </small>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        26816
                                                    </td>
                                                    <td>
                                                        Prueba practicantes
                                                    </td>
                                                    <td>
                                                        prueba
                                                    </td>
                                                    <td>
                                                        2022-01-21 11:47:53
                                                    </td>
                                                    <td>
                                                        Sistemas
                                                    </td>
                                                    <td class="text-center">
                                                        <small class="prioridad BAJA"> BAJA </small>
                                                    </td>
                                                    <td class="text-center">
                                                        <small class="estado estado-3"> FINALIZADO </small>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        26815
                                                    </td>
                                                    <td>
                                                        Prueba practicantes
                                                    </td>
                                                    <td>
                                                        prueba
                                                    </td>
                                                    <td>
                                                        2022-01-21 11:47:39
                                                    </td>
                                                    <td>
                                                        Sistemas
                                                    </td>
                                                    <td class="text-center">
                                                        <small class="prioridad BAJA"> BAJA </small>
                                                    </td>
                                                    <td class="text-center">
                                                        <small class="estado estado-3"> FINALIZADO </small>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="ticketmodal" tabindex="-1" role="dialog" aria-labelledby="ticketmodal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nuevo Ticket</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="asunto">
                                    Asunto de la solicitud <span class="required">*</span>
                                </label>
                                <input type="text" class="form-control" id="asunto" aria-describedby="asuntoTicket"
                                    placeholder="Asunto del ticket">
                            </div>
                            <div class="form-group">
                                <label for="departamento">Destinatario
                                    <span class="required">*</span>
                                </label>
                                <select name="destinatario" id="destinatario" class="form-control">
                                    <optgroup label="Sistemas">
                                        <option value="653">
                                            Diana Laura Páez Sánchez
                                        </option>
                                    </optgroup>
                                    <optgroup label="Sistemas">
                                        <option value="644">
                                            José Ariel Vázquez López
                                        </option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="importancia">
                                    Importancia de la solicitud <span class="required">*</span>
                                </label>
                                <select class="form-control" id="importancia">
                                  <option>Baja</option>
                                  <option>Media</option>
                                  <option>Alta</option>
                                </select>
                            </div>
                            <div class="form-group">					
                                <label for="mensaje">
                                    Descripción de la solicitud <span class="required">*</span>
                                </label>
                                <textarea name="descripcion" id="descripcion" class="form-control" rows="4"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="evidencia">
                                    ¿Deseas adjuntar una imagen de evidencia?<span class="required">*</span>
                                </label>
                                <input type="file" class="form-control-file" id="evidencia">
                              </div>	
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary">Enviar ticket</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>