<!-- <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-20 col-md-12">
                <div class="card">
                    <div class="card-headercard-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#mios" data-toggle="tab">
                                            <i class="material-icons">people</i> Mis clientes
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#todos" data-toggle="tab">
                                            <i class="material-icons">groups</i> Todos los clientes
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-headercard-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#mios" data-toggle="tab">
                                            <i class="material-icons">people</i> Mis clientes
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#todos" data-toggle="tab">
                                            <i class="material-icons">groups</i> Todos los clientes
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="mios">
                        <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="">
                                            <th>
                                                #
                                            </th>
                                            <th>
                                                Dominio
                                            </th>
                                            <th>
                                                Region
                                            </th>
                                            <th>
                                                Creacion de dominio
                                            </th>
                                            <th>
                                                Fecha de ingreso
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    wwww.dominiocliente.com
                                                </td>
                                                <td>
                                                    Cordoba
                                                </td>
                                                <td>
                                                    10/08/2020
                                                </td>
                                                <td>
                                                    20/09/2021
                                                </td>
                                                <td>
                                                    <i class="fa fa-pencil"></i> 
                                                </td>
                                                <td>
                                                    <i class="fa fa-power-off"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    2
                                                </td>
                                                <td>
                                                    wwww.dominiocliente.com
                                                </td>
                                                <td>
                                                    Cordoba
                                                </td>
                                                <td>
                                                    10/08/2020
                                                </td>
                                                <td>
                                                    20/09/2021
                                                </td>
                                                <td>
                                                    <i class="fa fa-pencil"></i> 
                                                </td>
                                                <td>
                                                    <i class="fa fa-power-off"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    3
                                                </td>
                                                <td>
                                                    wwww.dominiocliente.com
                                                </td>
                                                <td>
                                                    Cordoba
                                                </td>
                                                <td>
                                                    10/08/2020
                                                </td>
                                                <td>
                                                    20/09/2021
                                                </td>
                                                <td>
                                                    <i class="fa fa-pencil"></i> 
                                                </td>
                                                <td>
                                                    <i class="fa fa-power-off"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    4
                                                </td>
                                                <td>
                                                    wwww.dominiocliente.com
                                                </td>
                                                <td>
                                                    Cordoba
                                                </td>
                                                <td>
                                                    25/03/2020
                                                </td>
                                                <td>
                                                    25/03/2021
                                                </td>
                                                <td>
                                                    <i class="fa fa-pencil"></i> 
                                                </td>
                                                <td>
                                                    <i class="fa fa-power-off"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    5
                                                </td>
                                                <td>
                                                    wwww.dominiocliente.com
                                                </td>
                                                <td>
                                                    Cordoba
                                                </td>
                                                <td>
                                                    10/07/2019
                                                </td>
                                                <td>
                                                    20/05/2021
                                                </td>
                                                <td>
                                                    <i class="fa fa-pencil"></i> 
                                                </td>
                                                <td>
                                                    <i class="fa fa-power-off"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    6
                                                </td>
                                                <td>
                                                    wwww.dominiocliente.com
                                                </td>
                                                <td>
                                                    Cordoba
                                                </td>
                                                <td>
                                                    10/08/2020
                                                </td>
                                                <td>
                                                    20/09/2021
                                                </td>
                                                <td>
                                                    <i class="fa fa-pencil"></i> 
                                                </td>
                                                <td>
                                                    <i class="fa fa-power-off"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="todos">
                        <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="">
                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Dominio
                                            </th>
                                            <th>
                                                City
                                            </th>
                                            <th>
                                                Salary
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    Dakota Rice
                                                </td>
                                                <td>
                                                    Niger
                                                </td>
                                                <td>
                                                    Oud-Turnhout
                                                </td>
                                                <td>
                                                    $36,738
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    2
                                                </td>
                                                <td>
                                                    Minerva Hooper
                                                </td>
                                                <td>
                                                    Curaçao
                                                </td>
                                                <td>
                                                    Sinaai-Waas
                                                </td>
                                                <td>
                                                    $23,789
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    3
                                                </td>
                                                <td>
                                                    Sage Rodriguez
                                                </td>
                                                <td>
                                                    Netherlands
                                                </td>
                                                <td>
                                                    Baileux
                                                </td>
                                                <td>
                                                    $56,142
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    4
                                                </td>
                                                <td>
                                                    Philip Chaney
                                                </td>
                                                <td>
                                                    Korea, South
                                                </td>
                                                <td>
                                                    Overland Park
                                                </td>
                                                <td>
                                                    $38,735
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    5
                                                </td>
                                                <td>
                                                    Doris Greene
                                                </td>
                                                <td>
                                                    Malawi
                                                </td>
                                                <td>
                                                    Feldkirchen in Kärnten
                                                </td>
                                                <td>
                                                    $63,542
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    6
                                                </td>
                                                <td>
                                                    Mason Porter
                                                </td>
                                                <td>
                                                    Chile
                                                </td>
                                                <td>
                                                    Gloucester
                                                </td>
                                                <td>
                                                    $78,615
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
                </div>
            </div>    
        </div>
    </div>
  </div>