<div class="row">
    <div class="card">
        <div class="card-header card-header-success">
            <h4 class="card-title">Datos de accesos</h4>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover" id="activos">
                <thead class="">
                    <th>Tipo</th>
                    <th>URL acceso</th>
                    <th>Usuario</th>
                    <th>Pasword</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Godaddy</td>
                        <td>https://biera.com.mx</td>
                        <td>#Biera2017</td>
                        <td>46639872</td>
                        <td><i class="fa fa-pencil"></i></td>
                        <td><i class="fa fa-trash"></i></td>
                    </tr>
                    <tr>
                        <td>Cpanel</td>
                        <td>https://biera.com.mx</td>
                        <td>seo.marketing</td>
                        <td>Biera#2021_SEO</td>
                        <td><i class="fa fa-pencil"></i></td>
                        <td><i class="fa fa-trash"></i></td>
                    </tr>
                    <tr>
                        <td>Gestor de contenido</td>
                        <td>https://biera.com.mx/wp-admin/</td>
                        <td>seo_marketing</td>
                        <td>SEO_2021#</td>
                        <td><i class="fa fa-pencil"></i></td>
                        <td><i class="fa fa-trash"></i></td>
                    </tr>
                    <tr>
                        <td>Mailchimp</td>
                        <td>https://login.mailchimp.com/</td>
                        <td>RevistaBiera</td>
                        <td>Biera#2020</td>
                        <td><i class="fa fa-pencil"></i></td>
                        <td><i class="fa fa-trash"></i></td>
                    </tr>
                    <tr>
                        <td>Gmail</td>
                        <td>google.com</td>
                        <td>biera.marketingseo@gmail.com</td>
                        <td>biera2022</td>
                        <td><i class="fa fa-pencil"></i></td>
                        <td><i class="fa fa-trash"></i></td>
                    </tr>
                    <tr>
                        <td>Chat online</td>
                        <td>https://dashboard.tawk.to/login</td>
                        <td>marketing@promesasdevida.com.mx</td>
                        <td>Mkt2018#$</td>
                        <td><i class="fa fa-pencil"></i></td>
                        <td><i class="fa fa-trash"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>